.product_card_mini {
  width: 100%;
  border: 1px solid var(--border-color-light-1);
  border-radius: 5px;
  overflow: hidden;
  padding: 1rem;
  transition: var(--transition-1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.product_card_mini:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid var(--border-color-light-2);
}

.product_image_slider {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  position: relative;
}

.slider_track {
  display: flex;
}

.slide {
  min-width: 100%;
  height: 200px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product_description {
  height: 10rem;
}

/* pagination */

.slider_pag_dot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: var(--transition-1);
  opacity: 0;
}

.product_card_mini:hover .slider_pag_dot {
  opacity: 1;
}

.dot {
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--bg-button-2);
  cursor: pointer;
  transition: var(--transition-1);
}

.dot.active {
  background-color: #333;
  transform: scale(1.2);
}
