.overlay_banner_container {
  position: relative;
  height: 80vh; /* full screen height */
  background: url("https://img.freepik.com/free-photo/happy-beautiful-couple-posing-with-shopping-bags-violet_496169-2215.jpg?ga=GA1.1.1778038783.1750070552&semt=ais_hybrid&w=740&q=80") center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.overlay_banner_container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* overlay black with opacity */
}

.overlay_content {
  position: relative;
  z-index: 1; /* content overlay ke upar rahe */
}
