/* header  */
.header {
  box-shadow: var(--shadow-1);
}

/* container */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo {
  width: 14rem;
}

/* Nav_search_cont */
.Nav_search_cont {
  display: flex;
  align-items: center;
  gap: 5rem;
  position: relative;
}

/* user-actions */
.user-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* action icons */
.action-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-light-1);
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
  font-size: 2.5rem;
  position: relative;
  cursor: pointer;
  border: 1px solid var(--border-color-light-1);
}

/* count */
.count {
  position: absolute;
  top: -21%;
  right: -11%;
  font-size: 1.5rem;
  display: inline-flex;
  background: var(--bg-light-2);
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  transition: all 0.2s ease;
}

.action-icon:hover .count {
  background: var(--bg-light-3);
}

.icon_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon_outline,
.iocn_filled {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  transition: opacity 0.2s ease;
}

.iocn_filled {
  opacity: 0;
}

.action-icon:hover .iocn_filled {
  opacity: 1;
}

.action-icon:hover .icon_outline {
  opacity: 0;
}

