/* header  */
.header {
  box-shadow: var(--shadow-1);
  margin-bottom: 0.5rem;
}

/* container */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo {
  width: 14rem;
}

/* Nav_search_cont */
.Nav_search_cont {
  display: flex;
  align-items: center;
  gap: 5rem;
  position: relative;
}

/* user-actions */
.user-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* action icons */
.action-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-light-1);
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
  font-size: 2.5rem;
  cursor: pointer;
  border: 1px solid var(--border-color-light-1);
  position: relative;
}

/* count */
.count {
  position: absolute;
  top: -21%;
  right: -11%;
  font-size: 1.5rem;
  display: inline-flex;
  background: var(--bg-light-2);
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  transition: all 0.2s ease;
}

.action-icon:hover .count {
  background: var(--bg-light-3);
}

.icon_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon_outline,
.iocn_filled {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  transition: opacity 0.2s ease;
}

.iocn_filled {
  opacity: 0;
}

.action-icon:hover .iocn_filled {
  opacity: 1;
}

.action-icon:hover .icon_outline {
  opacity: 0;
}

/* wish list submenu*/
.wish_submenu {
  width: max-content;
  background: var(--bg-light-1);
  position: absolute;
   z-index: 2;
  top: 145%;
  right: 1%;
  border-radius: 5px;
  padding: 1rem;
  transition: var(--transition-1);
  transform: translatey(10px);
  visibility: hidden;
  opacity: 0;
  border: 1px solid var(--border-color-light-1);
  box-shadow: var(--shadow-1);
}

.wishlist:hover .wish_submenu,
.cart:hover .wish_submenu {
  transform: translatey(0px);
  visibility: visible;
  opacity: 1;
}

/* product_container */

.product_container {
  max-height: 32rem;
  overflow-y: auto;
}

.products_detail {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.2s ease;
  margin-right: 2rem;
}

.products_detail:hover {
  background: var(--bg-light-5);
}

.products_detail .img_cont {
  width: 12rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.products_detail .img_cont img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Keeps image proportion */
  display: block;
}

.products_detail .product_info {
  display: flex;
  flex-direction: column;
  font-family: var(--font-tertiary);
  gap: 0.4rem;
}

.product_info .name {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-tertiary);
  color: var(--color-text-3);
}

.product_info .price {
  font-size: 1.5rem;
  font-family: var(--font-tertiary);
  font-weight: 500;
  color: var(--color-text-2);
}

.product_info .rating {
  font-size: 1.5rem;
  color: var(--color-text-3);
}

/* horizotal rule */
.hr_rule {
  width: 100%;
  height: 2.5px;
  background-color: var(--border-color-light-1);
  margin: 1rem 0;
}

/* total price */
.totalPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.totalPrice span {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: var(--font-tertiary);
  font-weight: 500;
}

.wish_button {
  width: 100%;
  background: var(--bg-button-1);
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: var(--font-tertiary);
  font-size: 1.7rem;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
  letter-spacing: 0.05rem;
  transition: var(--transition-1);
}

.wish_button:hover {
  background: var(--bg-light-2);
  color: var(--color-text-3);
}

.product_container::-webkit-scrollbar {
  width: 6px;
}

.product_container::-webkit-scrollbar-thumb {
  background: var(--bg-light-2);
  border-radius: 6px;
}

/* Thumb on hover */
.product_container::-webkit-scrollbar-thumb:hover {
  background: var(--bg-light-4);
}

/* user submenu */
.user_submenu {
  position: absolute;
  top: 145%;
  background: var(--bg-light-1);
  right: 0%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--border-color-light-1);
  box-shadow: var(--shadow-1);
  transform: translatey(10px);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-1);
  z-index: 2;
}

.user:hover .user_submenu {
  transform: translatey(0px);
  visibility: visible;
  opacity: 1;
}

.user_submenu p {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: var(--font-tertiary);
  font-weight: 500;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-1);
}

.user_submenu p:hover {
  background: var(--bg-light-5);
  border-radius: 5px;
  font-weight: 600;
}
