/* ----------------------------------- */

/* deal of the day section */
.deal_heading {
  padding-bottom: 1rem;
  text-transform: capitalize;
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  font-weight: 500;
  border-bottom: 2px solid var(--border-color-light-1);
  margin-bottom: 2rem;
  color: var(--color-text-3);
  width: fit-content;
}

/* slider container */
.deal_OTD_Slider_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

/* deal of the day card */
.DOTDCard {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border: 2px solid var(--border-color-light-1);
  border-radius: 5px;
  font-family: var(--font-secondary);
  height: 40rem;
  transition: var(--transition-1);
}

.DOTDCard:hover {
  border-color: var(--border-color-light-2);
}

/* image styling */
.DOTDCard .DOTDCardImage {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DOTDCard .DOTDCardImage img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* content styling */
.DOTDCardContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.DOTDCardTitle {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-text-3);
  text-transform: uppercase;
  font-family: var(--font-tertiary);
}

.DOTDCardDescription {
  font-size: 1.5rem;
  color: var(--color-text-5);
  font-family: var(--font-tertiary);
  font-weight: 500;
}

.DOTDCardRating {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: #ffb972;
}

.DOTDCardRatingCount {
  color: var(--color-text-4);
  font-size: 1.5rem;
}

.DOTDCardPrice {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: var(--font-secondary);
}

.DOTDCardOriginalPrice {
  text-decoration: line-through;
  color: var(--color-text-2);
  font-family: var(--font-tertiary);
}

.DOTDCardDiscountedPrice {
  font-family: var(--font-tertiary);
  color: var(--color-text-4);
  font-weight: 500;
  font-size: 2rem;
}

.DOTDCardButton {
  margin: 0.3rem 0;
}

.sale_timeout {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.sale_timeout span {
  background-color: #f3f3f3;
  padding: 1rem;
  border-radius: 5px;
  min-width: 5rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font-tertiary);
  font-weight: 600;
  color: var(--color-text-5);
}
